Source: u-boot
Section: admin
Priority: optional
Maintainer: Fictionlab <support@fictionlab.pl>
Build-Depends:
 bc,
 bison,
 debhelper-compat (= 12),
 flex,
 libssl-dev,
Build-Depends-Indep:
 gcc-aarch64-linux-gnu [!arm64],
Standards-Version: 4.5.1
Homepage: https://www.denx.de/wiki/U-Boot/
Vcs-Browser: https://github.com/fictionlab-gbp/u-boot
Vcs-Git: https://github.com/fictionlab-gbp/u-boot.git

Package: u-boot-rpi-silent
Architecture: arm64
Depends: ${misc:Depends}, flash-kernel
Conflicts: u-boot-rpi
Description: A boot loader for Raspberry PI systems
 Das U-Boot is a cross-platform bootloader for embedded systems,
 used as the default boot loader by several board vendors.  It is
 intended to be easy to port and to debug, and runs on many
 supported architectures, including PPC, ARM, MIPS, x86, m68k,
 NIOS, and Microblaze.
 .
 This package includes boot loaders for various Raspberry PI
 platforms.
 ${uboot:platforms}
