#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	debian/bin/build-targets

override_dh_auto_test:

override_dh_auto_install:

execute_before_dh_clean:
	rm -rf debian/build/

execute_before_dh_gencontrol:
	debian/bin/update-substvars
